name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: "0 2 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y make clang libpq-dev libpqxx-dev

      - name: Build backend
        run: make CXX=clang++
